### Python ###

## venv ##
venv/
.venv/

output_animation.mp4
.fastf1-cache
still_frame.png

.mypy_cache/
__pycache__/

computed_data/

### macOS ###
.DS_Store

### Electron-React ###
node_modules
dist
out
.eslintcache
*.log*

.idea
